@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your own custom CSS here below the @tailwind directives */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Using Inter as per guidelines */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
